h1 {
  font-size: 175%;
  text-align: center;
  margin-bottom: 4%;
  margin-top: 4%;
}

p {
  width: 90%;
  margin-top: 9%;
  margin-left: 5%;
  margin-right: auto;
  height: 80%;
  color: black;
  overflow: auto;
}

div{
  height: 150px;
}

#block {
  background: gray;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
}

#p2 {
  width: 95%;
  margin-left: 2.5%;
}

#block3 {
  background: gray;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  margin: 0;
}

#title {
  font-size: 125%;
  font-weight: bold;
  position: relative;
  float: right;
  height: 20%;
  width: 35%;
  padding-top: 4px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-top: 0;
  border-right: 0;
}

.t1{
  background: pink;
}

.t2{
  background: orangered;
}

.t3{
  background: yellow;
}
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-3#block {
    width: 32%;
    float: left;
    margin-right: 2%;
  }
  .col-lg-3#block3 {
    width: 32%;
    float: left;
    margin-right: 0;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-5-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-5-5 {
    width: 48%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-5-5.fr {
      float: right;
  }

/********** Adjustments to 3rd block **********/
  .col-md-12 p {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 3.85%;
  }
  .col-md-12 #title {
    width: 15%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
/********** Adjustments to margins **********/
  .col-sm-12 p {
    margin-top: 7%;
  }
}